@model MvcStokKontrol.Models.Entity.TblMusteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Müşteri Adi</label>
        @*<input type="text" name="MusteriAd" class="form-control" />*@
        @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MusteriAd, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Müşteri Soyadi</label>
        <input type="text" name="MusteriSoyad" class="form-control" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1" >Müşteri ekle</button>       
        
    </div>
    <script>
        $('#btn1').click(function () {
            alert("Müşteri ekleme işlemi yapıldı...!");
        });
    </script>
</form>


